<div class="content-box">
    <h2>Create New Listings</h2>
    <form action="" (ngSubmit)="onSubmitClicked()">
        <div>
            <label>
                Name:
            </label>
            <input id="name" type="text" name="name" [(ngModel)]="name">
        </div>
        <div>
            <label>
                Description:
            </label>
            <input id="description" type="text" name="description" [(ngModel)]="description">
        </div>
        <div>
            <label>
                Price:
            </label>
            <input id="price" type="number" name="price" [(ngModel)]="price">
        </div>
        <button type="submit">{{buttonText}}</button>
    </form>
</div>
